<div class="post" *ngFor="let post of posts">
    <div class="postTop">
      <div>
        <h4 class="orange-text s-text light-text">{{ post.author }}</h4>
        <p class="grey-text xs-text light-text date">{{post.createdAt}}</p>
      </div>
      <div ngbDropdown placement="bottom-right" class="dropdownPost d-inline-block"  *ngIf="checkRole()">
        <button class="nav-text s-text light-text" aria-label="suppresion" ngbDropdownToggle>
          <i class="fas fa-ellipsis-v white-text m-text bold-text"></i>
        </button>
        <div ngbDropdownMenu>
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="white-text l-text bold-text modal-title" id="modal-basic-title">Supprimer</h4>
              <button type="button" class="close" aria-label="fermer" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="white-text s-text light-text">Etes-vous certain de vouloir <span
                  class="text-danger s-text bold-text">supprimer</span> ?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn-cancel" aria-label="annuler" (click)="modal.dismiss('cancel click')">Annuler</button>
              <button type="button" class=" btn-danger" aria-label="confirmer" (click)="modal.close('Ok click')"><a (click)="deletePost(post.uuid)">
                Supprimer
                </a></button>
            </div>
          </ng-template>
          <button ngbDropdownItem class="white-text s-text light-text" aria-label="supprimer" (click)="open(content)">Supprimer</button>
        </div>
      </div>
    </div>
    <div *ngIf="this.post.imageUrl" class="cover">
      <img src="{{post.imageUrl}}" alt="">
    </div>
    <div class="postBody">
      <h2 class="white-text l-text bold-text">{{post.title}}</h2>
      <p class="white-text s-text light-text">{{post.text}}</p>
    </div>
  </div>