<app-header></app-header>
<main>
    <section id="about">
        <h1 class="white-text xl-text bold-text">A propos de Groupomania</h1>
        <img src="assets/logo.svg" alt="">
        <p class="white-text s-text light-text">Notre entreprise, spécialisée dans la grande distribution, est en pleine expansion. Nous avons actuellement plus de 600 collaborateurs et avons beaucoup recruté depuis quelques années. Nous étions uniquement 300 il y a 3 ans.</p>
    </section>
</main>
<app-footer></app-footer>
